.jvideo-rating-count {
	font-size: 12px;
	font-weight: normal
}

.jvideo-rating-thanks {
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
	padding-right: 5px
}

.jvideo-stars-small-empty {
	background-image: url("../images/emptyStar12x12.gif")
}

.jvideo-stars-small-half {
	background-image: url("../images/halfStar12x12.gif")
}

.jvideo-stars-small-full {
	background-image: url("../images/fullStar12x12.gif")
}

.jvideo-stars-large-empty {
	background-image: url("../images/emptyStar16x16.gif")
}

.jvideo-stars-large-half {
	background-image: url("../images/halfStar16x16.gif")
}

.jvideo-stars-large-full {
	background-image: url("../images/fullStar16x16.gif")
}