#configurationContainer {
	font-family: Tahoma, Arial, Verdana;
	font-size: 12px;
}

#configurationContainerLoader {
	background-color: #eaf4fd;
	color: #000000;
	font-family: Tahoma, Arial, Verdana;
	font-size: large;
	height: 250px;
	padding: 25px;
}

.jvideo_config_header {
	color: #2e6e9e;
	font-size: x-large;
	font-weight: bold;
	margin: 15px auto 15px 2px;
}
